<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<title>{{ title }}</title>
</head>
<body>
	
	<div class="container mainContainer">
		<div class="jumbotron">
			<h1>Tim's Mini Greenhouse!</h1>
			Time: {{ time }}
		</div>

		<div class="row">
			<div class="col-md-4 text-center">
				<a href="/auto_watering/ON"><button class="btn btn-dark">Enable auto-watering</button></a>
			</div>
			<div class="col-md-4 text-center">
				<a href="/auto_watering/OFF"><button class="btn btn-secondary">Disable auto-watering</button></a>
			</div>
			<div class="col-md-4 text-center">
				<a href="/water_once"><button class="btn btn-warning">Force water</button></a>
			</div>
		</div>

		<h4> Last watered: </h4>	
		{{ lastWatering }}
		<h4> Humidity: </h4>
		{{ humidity }} 
		<h4> Temperature: </h4>
		{{ temperature }}


		<div class="row">
			<div class="col-md-3">
				<img class="img-thumbnail rounded mx-auto d-block" src="/static/pic.jpg">
			</div>
		</div>
	</div>
	<script src="/static/test.js"></script>
	<script>console.log("Inner Javascript working")</script>
</body>
</html>
